@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@200;400;700&display=swap");
h1 {
  color: rgb(138, 168, 137);
}

p {
  font-size: 1.8rem;
  color: rgb(138, 168, 137);
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  color: rgb(138, 168, 137);
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(138, 168, 137);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-family: "Crimson Text", serif;
  background-image: radial-gradient(circle at 100% 0%, #00434a 0, #073339 16.67%, #0a2327 33.33%, #031114 50%, #000000 66.67%, #000000 83.33%, #000000 100%);
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 80%;
  height: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 10%;
}

.footer-content {
  width: 80%;
  margin: auto;
}

footer {
  min-height: 80px;
  background-color: rgb(52, 53, 52);
  margin-top: 0;
  margin-bottom: 0;
}
footer .footer-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto;
}

.logo {
  width: 100px;
  height: 60px;
}

header {
  background-color: rgb(80, 102, 76);
  top: 0;
}
header .fixed-top {
  background-color: rgb(80, 102, 76);
}
header .nav-item {
  display: flex;
  padding: 0;
}
header .nav-item a {
  align-items: flex-end;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
header .nav-item a a:hover {
  color: 0;
  transform: scale 1.1;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.presentacion {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-beetween;
  align-items: center;
  flex-wrap: nowrap;
}
.presentacion .flex-item2 {
  text-align: center;
}
.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}
.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}

.servicios div {
  text-align: center;
}
.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  gap: 50px;
}

.btn, .btn-secundario, .btn-principal {
  border: none;
  border-radius: 20px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform(1.1);
}

.btn:hover, .btn-secundario:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: rgb(12, 12, 12);
  background-color: #637eaf;
}

.btn-secundario {
  background-color: rgb(80, 160, 93);
}

.carousel-inner {
  scroll-behavior: smooth;
}

.carousel-item img {
  background: black;
  border: 8px solid black;
  width: 100%;
  max-height: 600px;
}

.contenedor-tarjeta {
  margin-bottom: 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-column-start: auto;
  gap: 1px;
}
.contenedor-tarjeta .tarjeta {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  overflow: hidden;
  padding: 10px;
  border: solid rgb(109, 184, 197);
  border-radius: 5%;
  background-image: linear-gradient(180deg, #505467 0, #1f3259 50%, #00154b 100%);
}
.contenedor-tarjeta .tarjeta img {
  height: auto;
}
.contenedor-tarjeta .tarjeta img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.contenedor-tarjeta .tarjeta p {
  font-size: medium;
}

.tarjetaUno {
  width: 300px;
  height: auto;
  gap: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border: solid rgb(109, 184, 197);
  border-radius: 5%;
  background-image: linear-gradient(180deg, #505467 0, #1f3259 50%, #00154b 100%);
  background-repeat: no-repeat;
  object-fit: contain;
}
.tarjetaUno img {
  object-position: center;
}
.tarjetaUno p {
  font-size: large;
}

@media (min-width: 1400px) {
  .servicios, .footer-content, .presentacion .carrusel-fotos .tarjeta {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    flex-direction: column;
  }
  .presentacion div {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .presentacion div section {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .presentacion div section h1, .presentacion div section p {
    padding: 0;
  }
}
@media screen and (min-width: 320px) {
  .contenedor-tarjeta {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }
  .contenedor-tarjeta img {
    border-radius: 5%;
    max-width: 200px;
    object-fit: contain;
  }
  .carrusel-fotos {
    overflow: hidden;
    box-sizing: border-box;
  }
  .carrusel-fotos img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 740px) {
  .contenedor-tarjeta {
    overflow: hidden;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    gap: 20px;
  }
}
.container {
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  text-align: center;
  justify-content: center;
}
.container li {
  color: rgb(124, 172, 136);
}

.formulario-uno {
  display: flex;
  background-color: rgb(10, 10, 10);
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: 250px;
  height: 400px;
  border: solid rgb(75, 169, 175);
  border-radius: 25%;
  box-shadow: 5px 2px 30px 5px rgb(69, 193, 209);
  box-sizing: border-box;
  text-size-adjust: auto;
}

main, .container {
  margin-top: 4.5%;
}

/*# sourceMappingURL=styles.css.map */
