nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}
.logo{
    width: 100px;
    height: 60px;
}

header{
    background-color: rgb(80, 102, 76);    
    top: 0;
      
    .fixed-top{
        background-color: rgb(80, 102, 76);
    }
.nav-item{
        
 display: flex;
  padding: 0;
        a{
            
            align-items: flex-end;
            padding: 10px;
            font-size: 2rem;
            font-weight: bold;
         
        a:hover{
            color: green($color: #000000);
            transform: scale (1.1);
         }

      }
  }
}


 