nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}
.logo{
    width: 100px;
    height: 60px;
}

header{
    position: fixed;
    top: 0;
    border-top: 30px solid rgb(52, 53, 51);
    width: 100%;    
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}


nav{
    @include caja-flex
    (space-between, center, nowrap);
    ul{ 
        display: flex;
        padding: 0;
        a{
            padding: 10px;
            font-size: 1.6rem;
            font-weight: bold;
        }
        a:hover{
            color: green($color: #000000);
            transform: scale (1.1);
        }

    }
}