@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@200;400;700&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before *::after{
    box-sizing: inherit;
} 
body{
    margin: 0;
    padding: 0;
    line-height: 2;
    font-family: 'Crimson Text', serif;
    background-image: radial-gradient(circle at 100% 0%, #00434a 0, #073339 16.67%, #0a2327 33.33%, #031114 50%, #000000 66.67%, #000000 83.33%, #000000 100%);
        }
 ul{
     list-style-type: none;

 }
 h1{
    text-align: center;
 }
a{
    text-decoration: none;
    display: inline-block;
    
}

img{
    width: 80%;
    height: auto;
    }
    
.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}

@mixin caja-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}


