@media(min-width:1400px){
     .servicios, .footer-content, .presentacion .carrusel-fotos .tarjeta{
        width: 80%;
        margin: auto;
    }

}
@media(max-width:992px){
    .presentacion, .tipo-servicios {
        flex-direction: column;
        
    }
    .presentacion div{
        justify-content: center;
        margin-bottom: 30px;
     }
    
}

@media(max-width:420px){
    .presentacion div section {
        flex-direction: column;
        margin-bottom: 30px;
        h1, p{
            padding: 0;
        }
    }
}
@media screen and (min-width: 320px) {
  .contenedor-tarjeta{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    img{
        border-radius: 5%;
        max-width: 200px;
        object-fit:contain;
    }
  }
    .carrusel-fotos {
      overflow: hidden;
      box-sizing: border-box;
    }
  
    .carrusel-fotos{
         img {
      width: 200px;
      height: 200px;
         }
    }
  
  }

@media screen and (min-width: 740px) {
  .contenedor-tarjeta{
    overflow: hidden;
    display: grid;      
    grid-template-columns: 25% 25% 25% ;
    grid-template-rows: 50% 50%;
    justify-content: center;      
    gap: 20px;
  }
        
    
      
   }

  